<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi App de Canciones{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
            <a href="{{ url_for('auth.register') }}">Registrarse</a>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Mi App de Canciones</p>
    </footer>
</body>

</html>
